#en__pagebuilder {
  [class*="none"] {
    display: block !important;
  }

  .modal {
    display: block;
    position: static;
  }

  .fade:not(.show) {
    opacity: 1;
  }

  .collapse:not(.show) {
    display: block !important;
  }
}
