.footer {
  border-top: $hr;
  font-weight: $font-weight-medium;  
  margin: 9.375rem auto 0;
  max-width: $max-content-width;
  padding-bottom: 6.625rem;
  padding-top: 2rem;
  
  .row {
    margin-left: 0;
    margin-right: 0;    
  }
    
  a {
    text-transform: none;
  }
}