.footer {
  border-top: $hr;
  font-weight: $font-weight-medium;  
  margin: 3.125rem auto 0;
  max-width: $max-content-width;
  padding-bottom: 6.625rem;
  padding: 2rem 1.25rem 6.625rem;
  
  @include media-breakpoint-up(lg) {
    margin-top: 9.375rem;
  }
      
  a {
    text-transform: none;
  }
}