html,
body {
 height: 100%; 
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

.main {
  flex-grow: 1;
  margin-top: 1.5rem;

  @include media-breakpoint-up(lg) {
    margin-top: 3rem;
  }
}

.en__component--page {
  display: flex;
  flex-direction: column;
}

