.skip:focus {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin: .25rem !important;
  clip: auto !important;
  white-space: normal !important;
  padding: .5rem !important;
  display: inline-block;
  border: 1px solid !important;  
  outline: 0;
}

.header {
  border-bottom: $hr;
  padding: 1.5% 3.5%;

  @include media-breakpoint-up(md) {
    padding: 1.25rem 1.875rem;
  }
  
  img {
    height: auto;
    max-width: 100%;
  }
  
  .navbar-brand {
    max-width: 200px;
    width: 36%;    
  }
  
  .navbar-text {
    font-size: $lead-font-size;
    max-width: 12rem;
    text-align: right;
    
    + a {
      border-left: $hr;
      
      @include media-breakpoint-down(md) {
        margin-left: auto;
        padding-left: 8.3333%;
        width: 25%;
      }
      
      @include media-breakpoint-up(md) {
        margin-left: 1.875rem;
        padding-left: 1.25rem;              
      }
    }
  }
  
  img[name="seal"] {
    @include media-breakpoint-down(md) {
      margin-left: 15%;      
      width: 50%;
    }
    
    @include media-breakpoint-up(md) {
      margin-left: 1.25rem;      
    }
  }
}