body:not(#en__pagebuilder) .en__component--column.en__component--advcolumn.hero-full-bleed {
  flex: none;
  margin-left: 50%;
  max-width: none;
  padding: 0;  
  position: relative;
  transform: translateX(-50%);
  width: 100vw;
}

.hero-full-bleed {
  img {
    height: auto !important;
    width: 100% !important;
  }  
    
  body:not(#en__pagebuilder) & {
    &::after {
      bottom: 0;
      background-color: rgba(0,0,0,.5);
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      
      top: 0;
      z-index: 1;
    }
    
    .en__component--copyblock {
      color: $white;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      z-index: 10;    
    }
  }
  
  h1 {
    line-height: 1.1667;
  }
  
  p {
    font-size: 1.375rem;
    line-height: 1.4545;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.35);
  }
}

.hero-constrained {
  margin-bottom: 3rem;
  
  &,
  * {
    transition: $transition-light;    
  }

  @include media-breakpoint-up(lg) {
    border-top: .3125rem solid $primary;
    margin-bottom: -.75rem;
    padding-top: 1.7rem;  
  }

  h2 {
    @extend .h3;
    margin-bottom: 1rem;
    
    @include media-breakpoint-down(lg) {
      font-size: 1.75rem;
    }
  }

  img {
    float: left;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    transform: translateY(.5rem);
  }
  
  p {
    line-height: 1.625;

    &:not(:last-child) {
      margin-bottom: 1.75rem;
    }    

    @include media-breakpoint-up(lg) {
      font-size: $font-size-lg;
      line-height: 1.6667;
    }
  }
  
  
  @include media-breakpoint-up(lg) {
    > div {
      align-items: flex-start;
      display: flex;
    }    
  }
}

.has-hero {
  .main {
    margin-top: 0;
  }


  .en__component--advrow:first-of-type + .en__component--advrow {
    margin-top: 5.5rem;
  }
}