.visual-listing {
  @extend %serif-normal;
  --bs-gutter-x: 1.75rem;

  h3 {
    @extend .text-md-start;
    margin-bottom: 2rem;
    width: 100%;
    
    .visual-listing--no-images & {
      margin-bottom: 1.5rem;      
    }
  }

  li {
    border-bottom: $border-default;
    margin-bottom: 2.5rem;
    padding-bottom: 2.333rem;
  }
  
  img {
    display: block;
    margin: 0 auto 1.5rem;
    width: 190px;
  }
  
  > p:last-child {
    margin-top: 4.5rem;
    text-transform: uppercase;

    .visual-listing--no-images & {
      text-transform: none;      
    }
  }
  
  blockquote,
  p {
    @include media-breakpoint-down(lg) {
      line-height: 1.5555;
    }    
  }
  
  .col {
    @extend .col-12;
    
    &:first-child:not(:last-child) {
      @extend .col-md-4;
    }
    
    &:last-child:not(:first-child) {
      @extend .col-md-8;
    }
  }
  
  small {
    @extend .h6;
    display: block;
    margin-bottom: 0;
  }
}

.visual-listing--no-images {
  h3 {
    margin-bottom: 1.5rem;
  }

  li {
    margin-bottom: 1.875rem;
    padding-bottom: 2.25rem;
  }

  > p:last-child {
    text-transform: none;
  }
}
