.advocacy-share-bar-block {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  border-bottom: 1px solid $border-color;
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;

  h5 {
    margin: 0;
  }

  .en__socialShare {
    align-items: center;
    display: flex;
    margin-left: 1.25rem !important;
    padding: 0 !important;

    &:not(:last-child) {
      margin-right: 1.5rem !important;

      &::after {
        border-left: 1px solid $border-color;
        content: "";
        height: 100%;
        margin-left: calc(1.25rem + 1px);
      }
    }

    &:hover {
      border-bottom: 0;
    }
  }

  .en__socialShare--facebook {
    height: 20px !important;
    width: 10px !important;
  }

  .en__socialShare--twitter {
    height: 20px !important;
    width: 24px !important;
  }
}

.advocacy-related-actions {
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    
    &:hover {
      .card-title a {
        color: $primary;
      }
    }

    a {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      text-transform: inherit;      
      
      &:hover {
        border-bottom: 0;
      }
    }

    > a:first-child::after {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .card-body {
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    flex-grow: 1;
    padding-bottom: 8%;
    padding-left: 7.25%;
    padding-right: 7.25%;
    padding-top: 5%;        
  }
}