$event-max-width: 850px !important;
$event-gutter: var(--bs-gutter-x, 1.25rem);

%event {
  font-size: 1rem;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  max-width: $event-max-width;
  
  @include media-breakpoint-up(lg) {
    font-size: 1.125rem;
    line-height: 1.6666;
  }

  .hero-full-bleed .en__component--imageblock:after {
    display: none !important;
  }

  .en__component--copyblock {
    .en__ticketBlock {
      @include media-breakpoint-down(md) {
        display: none !important;
      }
    }

    .en__submit {
      margin-top: 2rem;

      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;

        button {
          &[type="reset"] {
            margin-left: auto;
            margin-right: auto;
            order: 1;
          }

          &:not([type="reset"]) {
            margin-bottom: 1.25rem;
            order: 0;
            width: 100%;
          }
        }
      }
    }
  }

  h2 {
    @include media-breakpoint-down(lg) {
      font-size: 1.875rem;
    }
  }

  table {
    border: $border-default;
    border-top: .3125rem solid $primary;
    margin-top: 1.85rem;
    line-height: 1.6666;

    p {
      display: none;
    }

    .form-heading {
      @include media-breakpoint-down(md) {
        margin-top: 1.25rem;
      }
    }
  }

  tr,
  td {
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  tr {
    &:first-child,
    &:nth-child(2) {
      td:first-child {
        &::before {
          content: $icon-date;
        }
      }
    }

    &:nth-child(3) {
      td:first-child {
        &::before {
          content: $icon-location;
        }
      }
    }

    &:last-child {
      td:first-child {
        &::before {
          content: $icon-time;
        }
      }
    }

    @include media-breakpoint-down(md) {
      padding: 1rem 1.25rem;
      
      &:not(:last-child) {
        border-bottom: $border-default;
      }
    }
  }

  td {
    @include media-breakpoint-up(md) {
      border: $border-default;
      padding: 1.9333% 2%;
    }

    &::before {
      margin-right: .75rem;
      vertical-align: middle;
    }

    &:first-child {
      font-weight: $font-weight-semibold;
    }
  }

  .en__component--advrow:last-child {
    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column;

      .en__component--advcolumn {
        &:first-child {
          order: 1;
        }

        &:last-child {
          order: 0;
        }
      }
    }

    .en__component--column.en__component--advcolumn:first-child:not(:last-child) {
      @include media-breakpoint-up(lg) {
        max-width: 50%;
      }
    }
  }

  .form-heading {
    margin-top: 4rem;
  }

  .aside {
    font-size: 1.125rem;

    @include media-breakpoint-down(lg) {
      margin-bottom: 3.5rem;
      margin-top: 0 !important;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 1.75rem !important;
      max-width: 19rem;
    }

    a {
      text-decoration: underline;
      text-transform: none;
    }
  }

  .alert {
    margin-bottom: -2rem;
  }

  .en__submit {
    button {
      font-weight: $font-weight-bold !important;

      &:not([type="reset"]) {
        @extend %btn-sm;
      }

      &[type="reset"] {
        @include button-variant($white, $gray-500, $primary, $primary, $primary, $white);
        font-size: 1rem;
        height: 3.75rem;
        min-width: 10rem !important;
        width: 10rem;
      }
    }
  }
}

.event,
.en__component--page[action*="event"] {
  @extend %event;
}

.event {
  .en__field--tnc-staff-guest-count.en__mandatory {
    .en__field__element--select {
      max-width: 7.75rem;
    }
  }

  .en__field--departure-date,
  .en__field--dietary-restrictions-or-food-allergies {
    margin-bottom: 2rem;
    padding-bottom: 2.5rem;
    position: relative;

    &::after {
      background-color: $border-color;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      width: calc(100% - #{$event-gutter})
    }
  }

  @include media-breakpoint-up(md) {
    .en__component--formblock:not(:last-child) {
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(#{$event-gutter} / 2 * -1);
      margin-right: calc(#{$event-gutter} / 2 * -1);
    }

    .en__field {
      flex: none;
      padding-left: calc(#{$event-gutter} / 2);
      padding-right: calc(#{$event-gutter} / 2);
      width: 50%;
    }

    .en__field--checkbox,
    .en__field--textarea,
    .en__field--tripleselect {
      width: 100%;
    }

    .en__field--textarea,
    .en__field--tripleselect {
      .en__field__label {
        width: calc(50% + #{$event-gutter});
      }
    }

    .en__field__element--textarea,
    .en__field__element--tripleselect {
      width: calc(50% - #{$event-gutter} / 2);
    }
  }
}

.event-overview-details--overlay {
  margin-bottom: 2.25rem;
  margin-top: 1.667rem;
  padding-bottom: 1rem;

  &::after {
    @extend %full-bleed;
    @extend %full-bleed-pseudo;
    content: "";
    background-color: $primary;
    bottom: 0;
    height: .3125rem;
    position: absolute;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    background-color: $white;
    border-bottom: .3125rem solid $primary;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.2);
    margin-bottom: 2.833rem;
    margin-top: -5rem;
    padding: 1.875rem 2.5rem .75rem;
    position: relative;
    z-index: 1;

    &::after {
      display: none;
    }
  }

  h2 {
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 1.7;
  }

  strong {
    font-weight: $font-weight-semibold;
  }

  .row {
    @extend .align-items-center;
    padding-top: .75rem;
    position: relative;

    @include media-breakpoint-up(md) {
      justify-content: space-between;
      margin-top: 2.5rem;
      padding-top: 1rem;
    }

    &::before {
      @extend %full-bleed;
      @extend %full-bleed-pseudo;
      background-color: $border-color;
      content: "";
      height: 1px;
      position: absolute;
      top: 0;

      @include media-breakpoint-up(md) {
        margin-left: auto;
        margin-right: auto;
        right: auto;
        transform: translateX(-50%);
        width: calc(100% + 3.25rem);
      }
    }
  }
  
  a[href^="https://www.google.com/maps"],
  address,
  time {
    @extend .col-md-auto;    
  }

  a[href^="https://www.google.com/maps"] {
    display: block;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: inherit;

    &:hover {
      address {
        color: $primary;
        text-decoration: underline;
      }
    }
  }

  address {
    font-size: 1rem;
    font-weight: $font-weight-medium;
    line-height: 1.5;
    margin: 0;
    transition: $transition-base;

    @include media-breakpoint-down(md) {
      margin-bottom: 1.25rem;
      margin-top: .875rem;
    }

    &::before {
      content: $icon-location;
      line-height: 1;
      margin-right: .5rem;
      vertical-align: middle;
    }
  }

  time {
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    position: relative;

    @include media-breakpoint-down(md) {
      margin-bottom: .333rem;
      padding-top: 1rem;
    }

    &::before {
      background-color: $border-color;
      content: "";
      height: 1px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: calc(100% - var(--bs-gutter-x));

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
}

.event-overview-details--text {
  @extend %serif-xl;

  h3,
  h4 {
    margin-bottom: .9375rem;    
  }

  h3 {
    @extend .h5;
  }
  
  h4 {
    @extend %serif-xl;
  }
  
  ol,
  ul {
    margin-bottom: 1.5625rem;    
  }

  p {
    &:not(:last-child) {
      margin-bottom: 1.5625rem;
    }
  }

  a {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
    text-transform: none;
    white-space: nowrap;
  }
}

.en__component.en__component--eventtickets {
}

.en__ticketBlock {
  border: 0;
  background-color: inherit;

  .en__component--copyblock & {
    border-bottom: $border-default;
  }
}

.en__tickets {
  padding: 0;

  .d-flex {
    align-items: center;
    flex-wrap: wrap;
  }
}

.en__ticket__field {
  @include media-breakpoint-down(md) {
    display: inline-block;
    padding: 0;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .en__component--copyblock & {
    padding-bottom: 1rem;
    padding-top: 0;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  strong {
    display: inline-block;
    line-height: 1.4444;
    text-transform: uppercase;
  }
}

.en__ticket__name {
  font-size: 1.125rem;
  line-height: 1.4444;
  
  @include media-breakpoint-down(md) {
    padding-top: 1.25rem;
  }
}

.en__ticket__desc {
  font-size: 1rem;
}

.en__ticket__field--info,
.en__ticket__field--cost {
  @include media-breakpoint-down(md) {
    border: 0;
    vertical-align: middle;
    width: 50%;
  }
}

.en__ticket__field--cost {
  text-align: right;

  @include media-breakpoint-up(md) {
    width: 20%;
  }
}

.en__ticket__price {
  line-height: 1.6666;
  font-size: 1rem;
  font-weight: $font-weight-normal;

  &::before {
    content: "$";
  }

  &::after {
    content: ".00";
  }
}

.en__ticket__currency {
  @extend .visually-hidden;
}

.en__ticket__field--quantity {
  padding-bottom: 0;

  @include media-breakpoint-down(md) {
    display: flex;
    justify-content: space-between;
    margin-top: 1.833rem;
    padding-bottom: 1.5rem;
    width: 100%;

    &::before {
      content: "Quantity";
      font-size: 1rem;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }

  @include media-breakpoint-up(md) {
    width: 10em;
  }
  
  a {
    font-size: 1rem;
    display: block;
    line-height: 1.1875;
    text-decoration: underline;
    text-transform: none;    
  }
}

.en__ticket__quantity {
  border: 0;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  line-height: 1.1428;
  
  &:focus {
   border: 0;
   outline: 0;    
  }
}

.en__ticket__selector {
  margin-top: -.75rem;

  .input-group {
    border: $border-light;
    flex-wrap: nowrap;
  }
}

.en__ticket__minus,
.en__ticket__plus {
  align-items: center;
  background-image: none;
  background-size: .625rem;
  border: 0;
  display: inline-flex;
  height: 3.25rem;
  justify-content: center;
  margin: 0;
  position: relative;
  width: 2.667rem;
  
  &:focus {
    border: 2px solid $primary;
    outline: 0;
  }

  &::after {
    color: $primary;
    font-weight: $font-weight-bold;
  }
}

.en__ticket__minus {
  &::after {
    content: "-";
  }
}

.en__ticket__plus {
  &::after {
    content: "+";
  }
}

.en__ticket__remaining {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  line-height: 1.5;
  margin-top: .25rem;
}

.en__ticket__soldout {
  background-color: transparent;
  color: $body-color;
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.en__ticket__field--total {
  font-weight: $font-weight-bold;
  line-height: 1.4444;
  text-align: right;
  width: 6em;
}

.additional-promo {
  @include media-breakpoint-down(md) {
    margin-left: 0;
    margin-right: 0;
    
    > * {
      padding-left: 0;
      padding-right: 0;
    }
  }  
}

.form-heading--additional,
.form-heading--promo {
  @extend .col-md;  
  margin-top: 2rem !important;
    
  h3 {
    border-bottom: 0;
    color: $body-color;
    font-size: 1rem;
    font-weight: $font-weight-medium;
    line-height: 1.375;
    margin-bottom: .6875rem;
    padding-bottom: 0;
    text-transform: none;
  } 
}

.form-heading--additional {
  @include media-breakpoint-down(md) {
    border-bottom: $border-default;
    padding-bottom: 2.5rem;    
  }
}

.form-heading--promo {
  display: flex;
  flex-direction: column;

  > * {
    order: 0;
  }

  > p {
    order: 1;
    margin-top: .75rem;
    
    @include media-breakpoint-down(lg) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}

.en__additional__amount,
.en__additional__promo {
  display: block;
  flex: none;
  padding: 0;
  width: 100%;
}

.en__additional__label {
  @extend .visually-hidden;
}

.en__additional__amount {
  font-size: 0;
}

.en__ticketSummary__checkout {
  @extend .visually-hidden;
}

.total-amount {
  border-top: $border-default;
  font-weight: $font-weight-bold;
  margin-bottom: .333rem;
  margin-top: 1.25rem;
  padding-top: 1.333rem;
  text-transform: uppercase;
}

a[href="javascript:history.back()"] {
  display: inline-block;
  margin-bottom: 3rem;

  &::before {
    content: $icon-back;
    margin-right: .5rem;
  }
}

.en__orderSummary {
  padding: 0;
}

.en__orderSummary__header {
  border-bottom: $border-default;
  line-height: 1.4444;
  padding-bottom: 1.25rem;
  padding-top: 0;
  text-transform: uppercase;
}

.en__orderSummary__data {  
  padding-bottom: .75rem;
  padding-top: 1rem;
  
  &:not(.en__orderSummary__data--totalLabel):not(.en__orderSummary__data--totalAmount) {
    border-bottom: $border-default;
  }
}

.en__orderSummary__data,
.en__orderSummary__header {
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    text-align: right;
  }
}

.en__orderSummary__data--type {
  font-weight: $font-weight-bold;
}

.en__orderSummary__header--quantity,
.en__orderSummary__data--quantity,
.en__orderSummary__header--promo,
.en__orderSummary__data--promo,
.en__orderSummary__data--fill {
  display: none;
}

.en__orderSummary__data--cost,
.en__orderSummary__data--totalAmount {
  &:not(.js-applied-promo)::before {
    content: "$";
  }
}

.js-applied-promo {
  &::before {
    content: "-$";
  }  
}

.en__registrants {
  padding: 0;
}

.en__registrants__ticket {
  &:not(:last-child) {
    margin-bottom: 1.75rem;
  }
}

.en__registrants__ticketHead {
  font-size: 1.125rem;
  line-height: 1.4444;
  padding-bottom: 0;
  margin-bottom: .333rem;
}

.en__registrants__group {
  display: block;
}

.en__registrants__registrant {
  margin-bottom: 1rem;
  padding: 0;
}

.en__registrants__registrantHead {
  font-size: 1.125rem;
  line-height: 1.6666;
}

.en__registrants__registrantDetails {
  @extend .row;
  @extend .row-cols-lg-2;
}

.en__field--registrant--mandatory {
  > .en__field__label::before {
    content: "* ";
    margin-right: .25rem;
  }
}