// Donation page
.ihmo-donation {
  padding-bottom: 1rem !important;

  .collapse {
    padding-bottom: 0 !important;
  }
}

// Tribute block on donation page
.ihmo-tribute {
  .en__component--formblock > h3,
  .en__component--formblock > p,
  .ecard-collapse {
    margin-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: calc(var(--bs-gutter-x) * 0.5);
    min-width: calc(100% - var(--bs-gutter-x));
  }

  .en__component--formblock > h3 {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
  }

  .en__component--column {
    border: $border-default;
    margin-top: 1.5rem !important;
    padding: 1.75rem 1.5rem;

    #_ff-container &._ff-row {
      max-width: calc(100% - 0.75rem);
    }

    @include media-breakpoint-up(sm) {
      #_ff-container &._ff-row {
        max-width: calc(540px - 0.75rem);
      }
    }

    @include media-breakpoint-up(md) {
      padding: 2.25rem;

      #_ff-container &._ff-row {
        max-width: calc(720px - 1.25rem);
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 2.25rem !important;

      #_ff-container &._ff-row {
        max-width: calc(960px - 1.25rem);
      }
    }

    @include media-breakpoint-up(xl) {
      padding: 2.25rem;

      #_ff-container &._ff-row {
        max-width: calc(1290px - 1.25rem);
      }
    }
  }

  .en__field__item {
    max-width: none !important;
  }

  .form-heading {
    margin-top: 2.25rem !important;
  }

  .en__field__element--email {
    &::after {
      display: none;
    }
  }

  .en__field--trbopts .en__field__item {
    max-width: 12.875rem;
    padding: 0 !important;
    width: 100%;
  }

  .en__field--select-notification-option {
    .en__field__element--radio {
      @include make-row();
      --bs-gutter-y: 0.5rem;
    }

    .en__field__item {
      @include make-col-ready();
      padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
      padding-left: calc(var(--bs-gutter-x) * 0.5) !important;

      @include media-breakpoint-up(md) {
        @include make-col();
        flex: 0 0 auto;
        width: auto;
      }
    }

    .en__field__input--radio {
      @extend .visually-hidden;

      &:checked {
        + .en__field__label {
          background-color: $primary;
          border-color: $primary;
          color: $white;
        }
      }

      &:focus {
        + .en__field__label {
          background-color: $dark;
          border-color: $dark;
          color: $white;
        }
      }
    }

    .en__field__label--item {
      @extend .btn;
      @include button-variant($white, $gray-500, $primary, $primary, $primary, $white, $primary, $primary, $white);
      font-size: $font-size-base;
      height: 3.75em;
      line-height: 1;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      &:focus {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }

  .en__component--formblock {
    @include media-breakpoint-up(md) {
      @include make-row();

      .en__field {
        @include make-col-ready();
      }

      .en__field:not(.en__field--radio) {
        @include make-col(6);
      }

      .en__field--radio {
        @include make-col(12);
      }
    }
  }

  .ecard-collapse.show {
    margin-bottom: 1.5rem;
  }

  // Timestamp field
  .en__field--NOT_TAGGED_70 {
    display: none;
  }
}

.ihmo-ecard {
  .en__component--ecardblock {
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }

    > .en__ecardmessage {
      margin-top: 1.5rem;
    }

    h2 {
      margin-bottom: 1.25rem;
    }
  }

  .en__ecarditems__list {
    @include make-row();
    --bs-gutter-y: 1rem;
  }

  .en__ecarditems__thumb {
    @include make-col-ready();
    --bs-gutter-y: 1rem;
    display: block;
    height: auto;
    margin-bottom: 0;
    margin-right: 0;

    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }

    img {
      border: 0;
      height: 100% !important;
      max-width: 256px;
      opacity: 1;
      width: 100%;
    }

    &:focus,
    &.focus {
      outline: 0;

      img {
        outline: 2px solid;
      }
    }

    &:hover {
      img {
        box-shadow: none;
      }
    }

    &[aria-checked="true"] {
      img {
        border: 0.3125rem solid $primary !important;
        padding: 0.3125rem;
      }
    }
  }

  .en__ecarditems__action {
    display: none;
  }

  .en__ecardmessage__default {
    min-height: 7em;
  }

  .en__ecardrecipients__futureDelivery {
    label {
      &::before {
        content: "*";
        margin-right: 0.25rem;
      }
    }
  }

  input[type="date"]::-webkit-calendar-picker-indicator,
  input::-webkit-clear-button,
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="date"] {
    -moz-appearance: textfield;
  }

  .en__ecardrecipients {
    h2 {
      font-size: 1rem;
    }
  }

  .en__ecardrecipients__detail {
    @include make-row();
    --bs-gutter-y: 1.75rem;
  }

  .en__ecardrecipients input[type="text"] {
    @extend %input;
  }

  .en__ecardrecipients__email,
  .en__ecardrecipients__name {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }

    .en__field__label {
      display: inline-flex;
      margin-bottom: 0.5rem;
    }
  }

  &:not(.ihmo-ecard-embedded) {
    .en__ecarditems__addrecipient,
    .en__ecardrecipients,
    .en__ecardrecipients__list {
      display: none;
    }

    .en__component--ecardblock + .en__component--copyblock + .en__component--formblock {
      @include make-row();
    }

    .en__field[class*="en__field--NOT_TAGGED"] {
      @include make-col-ready();

      @include media-breakpoint-up(sm) {
        @include make-col(6);
      }
    }

    .en__field--email[class*="en__field--NOT_TAGGED"] .en__field__element--email::after {
      display: none;
    }
  }

  &.ihmo-ecard-embedded {
    .main {
      margin-top: 0;
    }

    .en__ecardrecipients,
    .en__submit {
      display: none;
    }
  }
}

// Conditional visibility
.tribute {
  .d-block-tribute {
    display: block !important;
  }

  iframe {
    min-width: 100%;
    width: 1px;
  }
}

.thankyou {
  .d-block-thankyou {
    display: block !important;
  }
}

.honor h3.ecard {
  display: none;
}

.ecard {
  .d-block-ecard {
    display: block !important;
  }
}

.mail {
  .d-block-mail {
    display: block !important;
  }
}

.do-not-notify {
  .d-block-do-not-notify {
    display: block !important;
  }
}

.not-expired {
  .d-block-not-expired {
    display: block !important;
  }
}

.expired {
  .d-block-expired {
    display: block !important;
  }
}
