.form {
  position: relative;
  &:first-child:last-child {
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
  }
  h1,
  h2 {
    margin-bottom: 2rem;
  }
  h5 + p {
    margin-bottom: 1.3333rem;
  }
  a {
    text-decoration: underline;
    text-transform: none;
  }
  hr {
    margin-bottom: 2.75rem;
    margin-top: 2.75rem;
  }
  .en__component--copyblock:not(.hero):not(.form-heading) {
    margin-top: 2.25rem;
  }
  .en__component--copyblock:not(.form-heading) + .en__component--formblock {
    margin-top: 2rem;
  }
  .en__component--formblock + .en__component--formblock {
    margin-top: 1.3333rem;
  }
}

.is-narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem !important;
  .en__component--copyblock + .en__component--formblock {
    margin-top: 1.5rem;
  }
}

.form-heading {
  margin-top: 4.75rem;
  h2,
  h3 {
    @extend .h5;
    @extend %form-heading;
    + p {
      @extend %sans-serif-normal;
    }
  }
  p + h2,
  p + h3 {
    margin-top: 1.75rem;
  }
}

.form-footer {
  font-size: 1rem;
  font-weight: $font-weight-medium;
  line-height: 1.375;
  margin-top: 1.25rem;
}

.form-select {
  @include media-breakpoint-up(md) {
    font-size: $font-size-sm;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input[type="date"]:not([name="ecard.schedule"])::-webkit-calendar-picker-indicator,
input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]:not([name="ecard.schedule"]),
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]:not([name="ecard.schedule"]):not([value])::-webkit-datetime-edit-fields-wrapper,
input[type="date"]:not([name="ecard.schedule"])[value=""]::-webkit-datetime-edit-fields-wrapper {
  visibility: hidden;
}

.form-select {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.en__component--row.en__component--advrow {
  @extend .row;
  display: block;
  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
  }
  > .modal {
    flex: none;
  }
}

.en__mandatory {
  > .en__field__label::before {
    content: "* ";
    margin-right: 0.25rem;
  }
}

.en__field__label {
  font-size: 1rem;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-medium;
  line-height: 1.375;
  &[for] {
    cursor: pointer;
  }
}

label.en__field__label {
  &:not([for]) {
    display: none;
  }
}

.en__field__element--calendar,
.en__field__element--checkbox,
.en__field__element--email,
.en__field__element--number,
.en__field__element--password,
.en__field__element--radio,
.en__field__element--range,
.en__field__element--rating,
.en__field__element--select,
.en__field__element--telephone,
.en__field__element--text,
.en__field__element--textarea,
.en__field__item {
  position: relative;
}

.en__field__input--calendar,
.en__field__input--email,
.en__field__input--number,
.en__field__input--other,
.en__field__input--password,
.en__field__input--select,
.en__field__input--splittext,
.en__field__input--telephone,
.en__field__input--text,
.en__field__input--textarea,
.en__field__input--tripletext,
.en__additional__input,
.en__additional__code,
.en__ecardrecipients__futureDelivery input[type="date"] {
  @extend %input;
}

.en__field__element--splittext,
.en__field__element--splitselect {
  @extend .row;
  @extend .gx-2;
  @extend .gx-md-3;
  @extend .gx-lg-4;
  .en__field__item {
    @extend .col;
  }
}

.en__field__element--tripletext,
.en__field__element--tripleselect {
  @extend .row;
  @extend .gx-2;
  @extend .gx-sm-3;
  .en__field__item {
    @extend .col;
  }
}

.en__field__input--textarea {
  height: calc(6.875rem + 1px);
  padding: 0.75rem 1.25rem;
}

.en__field--checkbox:not(:last-child):not(.en__field--payment-method-paypal):not(.en__field--home-phone-opt-in) {
  margin-bottom: 0.75rem;
  .en__component--formblock > &:first-child {
    margin-bottom: 2rem;
    margin-top: 1.75rem;
  }
}

.en__field__input--checkbox {
  @extend .visually-hidden;
}

.en__field__element--checkbox {
  .en__field__item:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .en__field__label {
    display: inline-flex;
    margin: 0;
    &::before {
      @extend %styled-checkbox;
    }
  }
  .en__field__input--checkbox {
    &:focus + .en__field__label {
      &::before {
        @extend %styled-checkbox-focus;
      }
    }
    &:checked + .en__field__label,
    &:focus:checked + .en__field__label {
      &::before {
        @extend %styled-checkbox-checked;
      }
    }
  }
  > .en__field__label {
    margin-bottom: 0.5rem;
  }
}

.en__field--radio {
  .en__field__label {
    display: inline-flex;
  }
}

.en__field--radio:not(.en__field--donationAmt):not([class*="en__field--payment-method"]):not([class*="en__field--trbopts"]):not([class*="en__field--select-notification-option"]) {
  .en__field__item {
    @extend .form-check;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .en__field__input--radio {
    @extend .form-check-input;
  }
  .en__field__label {
    line-height: 1.5;
    margin: 0;
  }
  > .en__field__label {
    line-height: 1.375;
    margin-bottom: 0.75rem;
  }
}

.en__field--postcode {
  .en__field__input--text {
    max-width: 12rem;
  }
}

.en__field--radio[class*="en__field--payment-method"] {
  margin-bottom: 2rem;
  .en__field__element--radio {
    margin-top: 0.5rem;
  }
}

.en__field--dirgift {
  > .en__field__label {
    @extend .visually-hidden;
  }
}

.en__field--home-phone-opt-in {
  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.en__field--mobile-text-opt-in,
.en__field--mobile-call-opt-in {
  @extend .visually-hidden--web;
}

.en__field--payment-method-3-button- {
  .en__field__element--radio {
    @extend .row;
    @extend .gx-sm-2;
    @extend .gx-md-3;
    @extend .gx-lg-4;
  }
  .en__field__item {
    @extend .col-8;
    @extend .col-sm-4;
    position: relative;
    @include media-breakpoint-down(sm) {
      width: 60.666667%;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
    .en__field__label {
      @extend .btn;
      @include button-variant($white, $gray-500, $body-color, $white, $primary, $body-color, $white, $primary, $body-color);
      align-items: center;
      display: flex;
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      height: 3.75rem;
      margin: 0;
      padding-left: calc(#{$font-size-sm} + 18%);
      padding-right: 1rem;
      text-align: left;
      text-transform: none;
      width: 100%;
      &:hover {
        border-width: 2px;
      }
      @include media-breakpoint-up(sm) {
        padding-left: calc(#{$font-size-sm} + 16%);
      }
    }
  }
  .en__field__input--radio {
    @extend .form-check-input;
    bottom: 0;
    left: calc(#{$font-size-sm} + 10%);
    margin: auto;
    position: absolute;
    top: 0;
    @include media-breakpoint-up(sm) {
      left: calc(#{$font-size-sm} + 5%);
    }
    @include media-breakpoint-up(md) {
      left: calc(#{$font-size-sm} + 9%);
    }
    &:checked + .en__field__label {
      border-color: $primary;
      border-width: 2px;
    }
  }
}

.en__field--trbopts,
.en__field--payment-method-2-button-,
.en__field--payment-method-cc-and-ach- {
  .en__field__element--radio {
    @extend .btn-group;
    width: 100%;
  }
  .en__field__item {
    width: 50%;
    .en__field__label {
      @extend .btn;
      @include button-variant($white, $primary, $primary, $white, $dark, $dark, $white, $white, $primary, $primary);
      white-space: nowrap;
      width: 100%;
    }
  }
  .en__field__input--radio {
    @extend .visually-hidden;
    &:checked,
    &:checked:focus {
      + .en__field__label {
        @include button-variant($primary, $primary, $white, $primary, $primary, $white, $primary, $primary, $white);
      }
    }
    &:focus {
      + .en__field__label {
        background-color: $dark;
        border-color: $dark;
        color: $white;
      }
    }
  }
}

.en__field__input--radio[value="Paypal"],
.en__field__input--radio[value="PayPal"] {
  + .en__field__label {
    font-size: 0;
    &:hover {
      color: transparent;
    }
    &::after {
      content: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/PayPal_logo.svg?v=1612990808000);
    }
  }
  .en__field--payment-method-2-button- & {
    + .en__field__label {
      height: 3.75rem;
    }
    &:checked {
      + .en__field__label {
        &::after {
          content: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/PayPal_logo_white.svg?v=1613059310000);
        }
      }
    }
  }
}

.en__field--payment-method-paypal {
  margin-bottom: 1.75rem !important;
  margin-top: 1.25rem;
  .en__field__input--checkbox {
    @extend .visually-hidden;
    &:checked,
    &:focus {
      + .en__field__label--item {
        border-color: $primary;
        border-width: 2px;
      }
    }
  }
  .en__field__label--item {
    @extend .btn;
    @include button-variant($yellow, $yellow, $white, $yellow, $primary, $white);
    background-image: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2246/PayPal_logo.svg?v=1612990808000);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.25rem;
    font-size: 0;
    height: 3.4375rem;
    width: 100%;
    @include media-breakpoint-down(md) {
      background-size: 20%;
    }
    @include media-breakpoint-up(md) {
      height: 4.1875rem;
    }
    &:hover {
      color: transparent;
    }
    &::before {
      display: none;
    }
  }
}

.paypal-selected {
  #en__digitalWallet {
    display: none !important;
  }
  + .en__component--copyblock {
    display: none !important;
    + .en__component--formblock {
      display: none !important;
    }
  }
  ~ .en__component--copyblock.p-0 {
    display: none !important;
    + .en__component--copyblock {
      display: none !important;
    }
  }
}

.en__field--paymenttype {
  @extend .visually-hidden--web;
}

.hide-source-code .en__field--appealCode {
  body:not(#en__pagebuilder) & {
    @extend .visually-hidden--web;
  }
}

.field__help {
  display: block;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  line-height: 1.4285;
  margin-top: 0.667rem;
}

.required-indicator {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.6666;
  &:not(:first-child) {
    margin-top: 3.125rem;
  }
  + .form-heading,
  + .en__component--copyblock {
    margin-top: 2.5rem !important;
  }
}

.en__submit {
  margin-top: 2.75rem;
  button {
    @extend .btn;
    //@extend .btn-lg;
    height: auto !important;
    min-width: 11.875rem !important;
    &:not([class*="btn-outline"]) {
      @extend .btn-primary;
    }
  }
}

// Hide spam trap field
.en__field--NOT_TAGGED_5 {
  display: none;
}
