.en__mandatory:not(.en__field--radio) {
  .en__field__label::before {
    content: "* ";
  }
}

.en__field--validationFailed {
  display: flex;
  flex-direction: column;

  .en__field__input--calendar,
  .en__field__input--email,
  .en__field__input--number,
  .en__field__input--other,
  .en__field__input--password,
  .en__field__input--select,
  .en__field__input--splittext,
  .en__field__input--telephone,
  .en__field__input--text,
  .en__field__input--textarea,
  .en__field__input--tripletext,
  .choices__inner {
    border-color: $warning;
    border-width: 2px;    
  }  

  .en__field__input--calendar,
  .en__field__input--email,
  .en__field__input--number,
  .en__field__input--other,
  .en__field__input--password,
  .en__field__input--splittext,
  .en__field__input--telephone,
  .en__field__input--text,
  .en__field__input--textarea,
  .en__field__input--tripletext {
    background: $input-indicator-error;
    padding-right: $form-select-indicator-padding;    
  }
  
  .choices__inner {
    background: none;
  }
}

.form-select {
  &[aria-invalid="true"] {
    background-image: $form-select-indicator-error;
  }
}

.en__field__error {
  color: $warning;
  font-size: $font-size-sm;
  font-style: italic;
  font-weight: $font-weight-medium;
  line-height: 1.4285;
  margin-top: .6875rem;
  order: 1;
}

.error-box {
  border: 2px solid $warning;
  max-width: 39.375rem;
  padding: 1rem 2.125rem 1.5rem 3.75rem;
  position: relative;
  
  &::before {
    content: $input-idicator-error-icon;
    left: 1.25rem;
    position: absolute;
  }
}

.en__errorHeader {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.125;
  margin-bottom: .75rem;
}

.en__errorList {
  list-style-type: none;
}

.en__error {
  line-height: 1.5;
  
  &:empty {
    display: none;
  }
}

.has-hero {
  > * {
    order: 1;
  }
  
  > .error-box + .en__component--advrow {
    order: 0;
  }  
}

.en__field {
  &:not(.en__field--validationFailed) {
    .en__field__error {
      display: none;
    }
  }
}

.en__field__input {
  &.is-valid {
    background: none;
    border-color: $primary;
    border-width: 2px;
    padding-right: 1.25rem;
  }
}
