.is-sans-serif {
 font-family: $font-family-sans-serif !important;
}

.is-serif,
[style="font-family:georgia,serif;"] {
 font-family: $font-family-serif !important;
}

h1,
.h1 {
  line-height: 1.167;
  
  &.is-sans-serif {
    font-weight: $font-weight-bold;    
  }
}

h2,
.h2 {  
  line-height: 1.2;
}

h3,
.h3 {
  display: table;
  line-height: 1.235;
  transition: $transition-base;

  &:hover {
    color: $green;
  }
}

h4,
.h4 {
  line-height: 1.308;
  color: $gray-800;
}

h5,
.h5 {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  line-height: 1.1875;
  text-transform: uppercase;
  transition: $transition-base;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
  
  *:not([class]) {
    line-height: 1.5;
  }

  &.is-serif,
  [style="font-family:georgia,serif;"] {
    font-size: 1.25rem !important;
    line-height: 1.7 !important;
  }
  
  big {
    display: inline-block;
    font-size: 1.125rem !important;
    line-height: 1.667 !important;
  }  

  small {
    display: inline-block;
    font-size: $font-size-sm !important;
    line-height: 1.5 !important;
  }
}

a {
  font-weight: $font-weight-bold;
  line-height: 1.25;
  text-transform: uppercase;
  transition: $transition-base;

  &:hover {
    border-bottom: 1px solid;
  }
  
  big {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.2083;
  }

  .small {
    display: inline-block;
    font-size: $font-size-sm;
    line-height: 1.1428;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

small {
  font-size: $font-size-sm;  
  line-height: 1.5;
}
